*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #87194e;
    box-shadow: 0 0 25px inset #774b91;
}

main{
    position: relative;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fondo{
    position: fixed !important;
    width: 40%;
    top: 0;
    filter: opacity(0.1);
}

ul{
    width: 100%;
}

h1, h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

table{
    width: 90% !important;
    margin: auto;
    text-align: center;
    border-radius: 2px;
}

form{
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px #fdb3e1;
    background-color: #e7deec;
}

label{
    margin: 5px 10px
}

select{
    margin: 5px;
}

.submit{
    margin: 15px 10px 0 0;
}

.card-header{
    color: black;
}

#contenedor-index{
    gap: 15px;
    flex-wrap: wrap;
}

.t-chica{
    width: 30% !important;
}

.card{
    background-color: #fdb3e1;
}

img{
    position: relative;
    width: 250px;
    margin-top: 20px;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-primary{
    background-color: #774b91;
    border: none;
}

.btn-primary:hover{
    background-color: #fdb3e1 !important;
    color: black !important;
    transition: all .3s;
}

.cancelar{
    width: 90px;
}

#listas{
    margin-top: 40px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #ffffff69;
}

#listas p{
    text-align: center;
}

#listas td.desc{
    width: 80%;
    text-align: left;
}

#listas td.cant{
    width: 10%;
}

#listas td.prec{
    width: 30%;
}

#listas h3{
    text-align: left !important;
}

.container.listas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hoja{
    border: 1px solid pink;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 10px 10px 15px rgba(255, 192, 203, 0.719);
    max-width: 800px;
    width: 100%;
}

@media (min-width: 500px){
    form{
        width: 400px;
    }
    img{
        width: 300px;
    }
}