*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    box-shadow: 0 0 30px rgba(255, 0, 149, 0.692);
    background: linear-gradient(270deg, #890244, #da297f);
}

main{
    margin-top: 20px;
}

ul{
    width: 100%;
}

h1, h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

table{
    width: 90% !important;
    margin: auto;
    text-align: center;
    border-radius: 2px;
}

form{
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px #fdb3e1;
    background-color: #68616d;
}

label{
    margin: 5px 10px
}

select{
    margin: 5px;
}

.submit{
    margin: 15px 10px 0 0;
}

.card-header{
    color: black;
}

#contenedor-index{
    gap: 15px;
    flex-wrap: wrap;
}

.t-chica{
    width: 30% !important;
}

.card{
    background-color: #fdb3e1;
}

img{
    position: relative;
    width: 250px;
    margin-top: 20px;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-primary{
    background-color: #774b91;
    border: none;
}

.btn-primary:hover{
    background-color: #fdb3e1 !important;
    color: black !important;
    transition: all .3s;
}

.cancelar{
    width: 90px;
}

#listas{
    margin-top: 40px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #ffffff69;
}

#listas p{
    text-align: center;
}

#listas td.desc{
    width: 80%;
}

#listas td.cant{
    width: 10%;
}

#listas td.prec{
    width: 30%;
}

#listas h3{
    text-align: left !important;
}

#hoja{
    border: 1px solid pink;
    border-radius: 15px;
    padding: 20px;
    margin: 40px;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 10px 10px 15px rgba(255, 192, 203, 0.719);
}

@media (min-width: 500px){
    form{
        width: 400px;
    }
    img{
        width: 300px;
    }
}