@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    flex-grow: 1;
}

header{
    background-color: #87194e;
    box-shadow: 0 0 25px inset #774b91;
    display: flex;
    align-items: center;
    padding: 10px;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img{
    width: 80px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.431));
}

header h1{
    margin-left: 10px;
    padding-bottom: 15px;
    font-family: 'Alex Brush', cursive;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 10px;
}

header a{
    text-decoration: none;
    color: white !important;
    font-weight: 400;
    letter-spacing: 1px;
}

main{
    position: relative;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    width: 100%;
}

h1, h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

table{
    text-align: center;
}

form{
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.485);
    background-color: #e7deec;
}

label{
    margin: 5px 10px
}

select{
    margin: 5px;
}

.submit{
    margin: 15px 10px 0 0;
}

.card-header{
    color: black;
}

#contenedor-index{
    gap: 15px;
    flex-wrap: wrap;
}

.t-chica{
    width: 30% !important;
}

.card{
    background-color: #fdb3e1;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-primary{
    background-color: #774b91;
    border: none;
}

.btn-primary:hover{
    background-color: #fdb3e1 !important;
    color: black !important;
    transition: all .3s;
}

.cancelar{
    width: 90px;
}

#listas{
    margin-top: 40px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #ffffff69;
}

#listas p{
    text-align: center;
}

#listas td.desc{
    width: 80%;
    text-align: left;
}

#listas td.cant{
    width: 10%;
}

#listas td.prec{
    width: 30%;
}

#listas h3{
    text-align: left !important;
}

.container.listas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn img{
    width: 16px;
}

.hoja{
    position: relative;
    border: 1px solid #87194e;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.485);
    max-width: 800px;
    width: 100%;
    font-weight: 500;
}

.hojaFondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/Logo-Circular-Whatsapp.png") center top;
    background-size: 80%;
    background-repeat: repeat-y;
    z-index: -1;
    filter: opacity(.1);
}

@media (min-width: 578px){
    form{
        width: 400px;
    }
    img{
        width: 300px;
    }
}

@media (max-width: 450px){
    nav{
        flex-direction: column;
    }
}

@media (max-width: 800px){
    header{
        flex-direction: column;
    }
    table{
        width: 100%
    };
}