<!doctype html>
<html lang="en">

<head>
    <title>Rotiseria Buena Voluntad</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta property="og:image"
        content="https://raw.githubusercontent.com/juanpablofavale/FrontparaFlaskCrud/main/img/Logo-Circular-Whatsapp.png" />
    <link rel="shortcut icon" href="./img/Logo-Circular-Whatsapp.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">

</head>

<body>
    <div id="app">
        <header>
            <!-- place navbar here -->
            <!-- Nav tabs -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Listas</a>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li v-if="logueado!=null" class="nav-item">
                                <a class="nav-link" aria-current="page" href="productos.html">Productos</a>
                            </li>
                            <li v-if="logueado!=null" class="nav-item">
                                <a class="nav-link" href="subtipos.html">Subtipos</a>
                            </li>
                            <li v-if="logueado!=null" class="nav-item">
                                <a class="nav-link" href="platos.html">Platos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link derecha" href="sesion.html">Iniciar Sesion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container" id="listas">
                <div id="hoja" v-for="h in hojas">
                    <div class="row">
                        <div class="col d-flex justify-content-center m-3">
                            <img src="./img/Logo-Circular-Whatsapp.png" alt="logo">
                        </div>
                    </div>
                    <div class="row" v-for="s in subtipos">
                        <div class="col" v-if="s.hoja==h">
                            <h3>{{s.nombre}}</h3>
                            <div v-if="s.id==4">
                                <p>Carne - Pollo - JyQ - Cebolla y Queso - Roquefort - Verdura - Atun - Humita</p>
                            </div>
                            <table class="table table-striped table-danger">
                                <tr v-for="p in productos">
                                    <td class="desc" v-if="p.subtipo==s.id">{{p.nombre}}</td>
                                    <td class="prec" v-if="p.subtipo==s.id">${{p.precio}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>